@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Yantramanav;
}

header{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 2.0rem;
    background-image: linear-gradient(to right, rgb(159, 197, 222), rgb(26, 128, 191));
}

body{
    background-color: aliceblue ;
}

.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}

.weather-input{
    width: 550px;
}

.weather-input input{
    padding: 0 15px;
    margin: 10px 0 20px 0;
    width: 100%;
    height: 46px;
    font-size: 1.50rem;
    border: 1px solid black;
    border-radius: 5px;
}

.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgb(99, 150, 194);
}

.weather-input-cities button{
    height: 55px;
    width: 100%;
    margin: 10px 0;
    background-color: rgb(186, 182, 182);
}

.weather-data{
    width: 100%;
}

.current-weather{
    display: flex;
    justify-content: space-between;
    background-color:rgba(118, 174, 233, 0.97) ;
    color: white;
    border-radius: 5px;
    padding: 20px 70px 20px 20px
}

.current-weather h2{
    font-size: 2rem;
}

.current-weather h3{
    font-size: 1.3rem;
}

.weather-data{
    margin-top: 12px;
    font-weight: 500;
}

.weather-data h4{
    margin-top: 12px;
    font-size: 1.2rem;
    font-weight: 500;
}

.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;;
}

.icon h4{
    margin-top: -10px;
}

.days-forecast h2{
    font-size: 1.5rem;
    margin: 20px 0;
}

.weather-cards{
    display: flex;
    gap: 20px;
}

.weather-cards .card{
    padding: 18px 16px;
    border-radius: 5px;
    list-style: none;
    color: white;
    background-color: rgb(190, 183, 183);
    width: 20%;
}

.weather-cards .card img{
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

/* media query code for responsive webpage */
@media(max-width: 1400px){
    .current-weather{
        padding: 20px;
    }
    .weather-cards{
        flex-wrap: wrap;
    } 
    .card{
        width: 25%;
    }
}

@media(max-width: 1200px){
    .weather-cards .card{
        width: calc(100%/3);
    }
}

@media(max-width: 950px){
    .weather-input{
        width: 450px;
    }
    .weather-cards .card{
        width: calc(100%/2);
    }
}

@media(max-width:750px){
    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input{
        width: 100%;
    }
}